/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);

  --mainWhite: #fff;
  --mainBackground: #f1f5f8;
  --mainTransition: all 0.3s linear;
  --transition: all 0.3s linear;
  --mainBorderRadius: 0.25rem;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--mainBackground);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/* styles for browsers larger than 800px; */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Global Styles
===============
*/

img {
  width: 100%;
  display: block;
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navigation bar
===============
*/

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
  background: var(--mainWhite);
  border-bottom: 2px solid var(--clr-black);
  box-shadow: var(--lightShadow);
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links a {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-primary-4);
}
.nav-name {
  font-size: 18px;
  margin-top: 21px;
  margin-right: 20px;
  text-transform: uppercase;
  color: var(--clr-primary-6);
  letter-spacing: var(--spacing);
  font-weight: 600;
}
.nav-name:hover {
  background: var(--clr-grey-10);
  color: var(--clr-primary-4);
}
.nav-logo {
  height: 135px;
}
.nav-links {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav-links a {
    font-size: 1rem;
  }
}
/*
=============== 
Buttons
===============
*/

.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: 0.05rem;
}
.btn:hover {
  background: var(--clr-primary-7);
}
.signin-btn {
  display: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.08;
  background-color: var(--clr-primary-5);
}

/*
=============== 
Hero
===============
*/

.hero {
  position: relative;
  min-height: auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: 20px;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.hero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
  color: var(--clr-black);
}
.hero-info p {
  max-width: 35em;
  line-height: 1.8;
  color: var(--clr-grey-2);
}
.hero-images {
  display: none;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  border-radius: var(--mainBorderRadius);
}
.hero-images:hover {
  box-shadow: var(--darkShadow);
  transition: var(--mainTransition);
}

/* nav media query */
@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .signin-btn {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 50%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

/* hero media query */
@media screen and (min-width: 800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }

  .hero-info h1 {
    font-size: 2.5rem;
  }
  .hero-info p {
    font-size: 1.25rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
  }
}

@media screen and (max-width: 800px) {
  .hero-images {
    display: none;
  }
  .nav-name {
    display: none;
  }
  .toggle-btn {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 1.5fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 3.4rem;
  }
  .hero-images {
    align-self: center;
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
  z-index: 1;
  box-shadow: var(--lightShadow);
}
.show-sidebar {
  transform: translate(0);
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.sidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.social-icons {
  justify-content: space-around;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
@media screen and (min-width: 800px) {
  .sidebar {
    transform: translate(-100%);
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    height: auto;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*
=============== 
Submenu
===============
*/

.submenu {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

/*
=============== 
Etc...
===============
*/

.btn-long {
  padding-left: 20px;
  padding-right: 20px;
}

.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
.btn-primary {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  border: 2px solid;
  padding: 15px 20px;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.9rem;
  background-color: var(--clr-primary-2);
  border-radius: 0.75rem;
  display: inline-block;
  margin-top: 20px;
}
.error-paragraph {
  margin-top: 300px;
}
.width-products {
  max-width: 1200px;
}
.flex-products {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=============== 
Profile Page
===============
*/

.profile {
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  box-shadow: 10px 10px 40px -14px #000;
  color: black;
  font-weight: 500;
  max-width: 1000px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: column;
}
.p-4 {
  margin-bottom: 20px;
}
.profile h2 {
  padding-top: 10px;
}

/*
=============== 
Toggle button
===============
*/

.nav-toggle {
  font-size: 2rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.links-flex-column {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
/*
====================
Display sidebar menu
====================
*/

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.links-container {
  height: 100px;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}

/*
=============== 
Telscopes
===============
*/

.telescope {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
  color: var(--clr-grey-1);
}
.telescope:hover {
  box-shadow: var(--darkShadow);
}
.telescope img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.telescope-footer {
  padding: 1.5rem;
}
.telescope-footer h3,
.telescope-footer h4,
.telescope-footer p {
  margin-bottom: 0.3rem;
}
.telescope-footer h3 {
  font-size: 2rem;
}
.telescope-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  color: var(--clr-grey-2);
}
.img-container {
  display: block;
  width: fit-content;
}
.telescopes-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.most-exp {
  margin-top: 20px;
}
@media screen and (min-width: 576px) {
  .telescopes-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/*
=============== 
Loading
===============
*/

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  font-size: 18px;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: 1px solid gray;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* 
====== 
Astronomers
======
*/

title.person {
  text-align: center;
  margin-bottom: 2rem;
}
.title-person h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 5rem;
}
.title-person span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}
.section-center-person {
  margin: 0 auto;
  margin-top: 5rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}
article.person h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title-person {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.text-person {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.icon-person {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev-person,
.next-person {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev-person:hover,
.next-person:hover {
  background: var(--clr-primary-5);
}
.prev-person {
  left: 0;
}
.next-person {
  right: 0;
}
@media (min-width: 800px) {
  .text-person {
    max-width: 45em;
  }
  .prev-person,
  .next-person {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article.person {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide-person {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide-person {
  transform: translateX(-100%);
}
article.nextSlide-person {
  transform: translateX(100%);
}
.section-person {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
  max-width: var(--max-width);
}

/* 
====== 
Store
======
*/

.cart {
  min-height: calc(100vh - 120px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  max-width: var(--fixed-width);
}
.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}
.cart footer {
  margin-top: 4rem;
  text-align: center;
}
.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}
.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}

/*
=============== 
Cart Item
===============
*/

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.item-price {
  color: var(--clr-grey-5);
}
.remove-btn {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}
.remove-btn:hover {
  color: var(--clr-grey-6);
}
.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.amount-btn svg {
  fill: var(--clr-primary);
}
.amount-btn:hover svg {
  fill: var(--clr-primary-light);
}
.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}
hr {
  background: var(--clr-grey-2);
  border-color: transparent;
  border-width: 0.25px;
}
#discount {
  color: darkred;
}
#final {
  color: green;
}
.cart-empty {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: var(--fixed-width);
}
.cart-empty h2 {
  text-align: center;
  margin-top: 100px;
}
.btn-cart-empty {
  font-size: 1rem;
  width: 30px;
  justify-content: center;
  margin-top: 50px;
}
.btn-margin {
  margin-top: 50px;
}

/*
=============== 
Form Page
===============
*/

.form {
  width: 45%;
  height: 460px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 0px auto;
  margin-top: 100px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: var(--clr-grey-5);
  border-bottom: 3px solid var(--clr-grey-8);
}
.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid var(--clr-primary-7);
}
.form input:focus {
  border-bottom: 2px solid #78788c;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.form button {
  float: none;
  padding: 6px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid var(--clr-primary-7);
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.form button:hover {
  background: var(--clr-primary-6);
  color: #fff;
}
.form div {
  content: "Hi";
  position: absolute;
  bottom: -42px;
  right: 8px;
  background: var(--clr-primary-4);
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
.form span {
  margin: 0 5px 0 15px;
}
.form-blocks {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.form-hr {
  background: var(--clr-primary-7);
}
.form-display {
  width: 45%;
  height: 460px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 0px auto;
  margin-top: 100px;
  padding: 20px 30px;
  box-sizing: border-box;
  color: var(--clr-grey-3);
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 800px) {
  .form-display,
  .form {
    width: 45vw;
  }
}
